/* https://cube.fyi/block.html */

.theme-toggle {
  --size: 2rem;
  --icon-fill: var(--fg-color);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  touch-action: manipulation;

  @media (hover: none) {
    --size: 3rem;
  }
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

.sun-and-moon-icon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon-icon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.sun-and-moon-icon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.sun-and-moon-icon [data-theme='dark'] .sun {
  fill: blue;
  transform: scale(1.75);
}

.sun-and-moon-icon [data-theme='dark'] .sun-beams {
  opacity: 0;
}

.sun-and-moon-icon [data-theme='dark'] .moon > circle {
  transform: translateX(-7px);

  @supports (cx: 1) {
    transform: translateX(0);
    cx: 17;
  }
}

.site-header {
  padding-block: var(--space-s-m);
}

.site-footer {
  display: grid;
  place-items: center;
  padding-block: var(--space-l-2xl);
  text-align: center;
  font-size: var(--size-step--1);
}

.contact-form {
  display: grid;
  gap: var(--gutter);
  padding-block-start: var(--space-s-m);
}

.contact-form button {
  width: fit-content;
  padding-inline: var(--space-s);
  padding-block: var(--space-xs);
  background-color: transparent;
  border: 2px solid var(--fg-color);
  border-radius: var(--border-radius-sm);
  color: inherit;
}

.contact-form label {
  align-self: start;
  grid-column-start: 1;
}

@media (min-width: 45rem) {
  .contact-form {
    grid-template-columns: max-content 1fr;
  }

  .contact-form label {
    padding-block: 0.5rem;
  }

  .contact-form button {
    grid-column-start: 2;
  }
}

.contact-links {
  --cluster-direction: column;
  --cluster-vertical-alignment: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
