/* https://cube.fyi/utility.html */

.flow > * + *,
.prose > * + * {
  margin-block-start: var(--flow-space, var(--space-s-m));
}

.wrapper {
  width: clamp(16rem, 95vw, 75rem);
  margin-inline: auto;
  padding-inline: var(--gutter, 1rem);
  position: relative;
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--cluster-direction, row);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));
}

.region {
  padding-top: var(--region-space, var(--space-l-xl));
  padding-bottom: var(--region-space, var(--space-l-xl));
}

.prose {
  max-inline-size: var(--measure);
}

.prose li::marker {
  color: var(--accent-color);
}

/* TODO: Not used
.bullet-list li + li {
  margin-block-start: var(--space-2xs);
}
.bullet-list :is(ol, ul) {
  padding-inline-start: 1em;
}

@media (min-width: 50em) {
  .bullet-list :is(ol, ul) {
    padding-inline-start: 0;
  }
} */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
