---
import BaseLayout from '@layouts/BaseLayout.astro';
import PageMeta from '@layouts/seo/PageMeta.astro';
---

<BaseLayout>
  <PageMeta title="Not found" slot="meta" />

  <article class="[ wrapper ] [ region ] [ prose ]" slot="main">
    <h1>Page not found...</h1>

    <p>
      This page doesn't exist there must be a typo in the URL, or maybe I broke
      everything.
    </p>

    <p>Either way, <a href="/">returning to the homepage</a> may help.</p>
  </article>
</BaseLayout>
