---
import Emoji from '../components/Emoji.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout title="Blog">
  <main>
    <article class="[ wrapper ] [ region ] [ prose ]">
      <h1>Blog</h1>
      <p>Writing in progress <Emoji emoji="🙃" label="face upside down" /></p>
      <p>ETA end of December!</p>
      <!-- 
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul> -->
    </article>
  </main>
</BaseLayout>
