---
import Emoji from '../components/Emoji.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="How I build this website">
  <main>
    <article class="[ wrapper ] [ flow ]">
      <h1>Work in progress...</h1>

      <p>"Ship fast" they said <Emoji emoji="🤷" label="shrugging person" /></p>
    </article>
  </main>
</BaseLayout>
