---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1>
      Hi, I'm William and I build highly intuitive, performant & accessible
      custom websites.
    </h1>

    <h2>
      Front-end and UI Engineer, in love with with design systems and crafting
      beautiful & inclusive UIs.
    </h2>

    <h3>The tools I use</h3>

    <ul>
      <li>TypeScript</li>
      <li>Dynamic web apps: React & Next.js, or Svelte & SvelteKit</li>
      <li>Static websites: vanilla HTML/CSS/JS and Astro</li>
      <li>Currently learning: GSAP, Svelte & SvelteKit</li>
    </ul>

    <h3>Things I can do for you</h3>

    <ul>
      <li>build a highly optimized marketing landing page</li>
      <li>
        create or maintain your design system (includes design tokens, component
        libraries, setting up a testing environment like Storybook)
      </li>
    </ul>

    <h3>Connect</h3>

    <p>
      If you're in Porto, Bordeaux or Paris, let's grab a cup of tea! If not,
      you can reach me on Twitter at <a
        href="https://twitter.com/williamhzo"
        target="_blank"
        rel="noreferrer"
      >
        @williamhzo
        <span class="sr-only">Twitter external link</span>
      </a> or via email at hi@williamhzo.me.
    </p>
  </main>
</BaseLayout>
