---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">williamhzo.me</span> ✨</h1>
    <a href="/blog">blog</a>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  /* TEXT GRADIENT */
  /* .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  } */
</style>
