---
import Socials from '../components/Socials.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Emoji from '../components/Emoji.astro';
---

<BaseLayout title={null}>
  <main>
    <article class="[ wrapper ] [ region ] [ prose ] [ hero ]">
      <h1>
        Hi, I'm William and <em>I&nbsp;build</em> intuitive, performant & accessible
        <em>websites</em>.
      </h1>

      <Socials />

      <h2>Passionate Frontend Engineer & never-ending learner.</h2>

      <!-- WHEN BLOG POST IS READY -->
      <!-- <p>
        Welcome to my digital garden, check out my latest <a href="/writing"
        >writing</a
        >, or some stuff that <a href="/inspiration">inspire</a> me. If you have
        project inquiries feel free to
        <a href="#contact">get in touch</a>.
      </p> -->
    </article>

    <article class="[ wrapper ] [ region ] [ prose ]">
      <h3>Crafting user-focused interfaces</h3>

      <p>
        I design & build with accessibility and progressive enhancement as a
        baseline to guarantee end-user gets the best possible experience —
        regardless of device, network quality, disability or preference.
      </p>

      <p>
        Mindful of shipping as little client-side JavaScript as possible, I
        strongly believe in under-engineering and using the right tool for the
        job, being for styles or fetching & displaying dynamic data.
      </p>
    </article>

    <article class="[ wrapper ] [ region ] [ prose ]">
      <h3>Things I can do for you</h3>

      <ul role="list" class="[ grid ]">
        <li class="[ card ] [ flow ]">
          <h4>Custom websites</h4>

          <p>
            Build an optimized and SEO-friendly landing page, for marketing or
            personal branding.
          </p>
        </li>

        <li class="[ card ] [ flow ]">
          <h4>Design Systems</h4>

          <p>
            Contribute to your Design System: design tokens, components,
            playground environments.
          </p>
        </li>

        <li class="[ card ] [ flow ]">
          <h4>SaaS/Products</h4>

          <p>
            Build dynamic SPA experiences like onboarding funnels or dashboards.
          </p>
        </li>

        <li class="[ card ] [ flow ]">
          <h4>CMS</h4>

          <p>Set up a Content Management System (CMS) for your team.</p>
        </li>
      </ul>
    </article>

    <article class="[ wrapper ] [ region ] [ prose ]">
      <h3>Connect</h3>

      <p>
        Got a project in mind? Drop me an email at
        <a href="mailto:hi@williamhzo.me">hi@williamhzo.me</a> and I'll get back
        to you as quickly as possible.
      </p>

      <p>
        My location varies from Porto <Emoji
          label="Portuguese flag"
          emoji="🇵🇹"
        /> and Paris <Emoji label="French flag" emoji="🇫🇷" /> — if you happen to
        be in one of these places let's grab a cup of tea!
      </p>

      <p>
        If you want to connect, you can reach me on <a href="/contact"
          >various places in the internet</a
        >, come say hi!
      </p>

      <Socials />
    </article>
  </main>
</BaseLayout>
