---
import Socials from '../components/Socials.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main>
    <article class="[ wrapper ] [ region ] [ prose ]">
      <h1>
        Hi, I'm William and I build highly intuitive, performant & accessible
        websites.
      </h1>

      <Socials />

      <h2>Frontend Engineer, designer & never-ending learner.</h2>

      <!-- WHEN BLOG POST IS READY -->
      <!-- <p>
        Welcome to my digital garden, check out my latest <a href="/blog"
          >blog posts</a
        >, or some stuff that <a href="/inspiration">inspire</a> me. If you have
        project inquiries feel free to
        <a href="#contact">get in touch</a>.
      </p> -->
      <p>
        Welcome to my digital garden, if you have project inquiries feel free to
        <a href="#contact">get in touch</a>.
      </p>
    </article>

    <article class="[ wrapper ] [ region ] [ prose ]">
      <h3>Crafting user-focused interfaces</h3>

      <p>
        I design and build the best experience possible, regardless of end
        user's device, network quality or disability — with <em
          >progressive enhancement</em
        > as a baseline.
      </p>

      <p>
        I strongly believe in under-engineering and using the <em>right</em> tools
        for the job, being for styling the UI or for loading and displaying dynamic
        data.
      </p>

      <p>
        Mindful of shipping as little client-side JavaScript as possible:
        content-focused websites that don't require complex client-side
        interactivity should mainly serve static HTML to the client, not a
        bloated JS framework.
      </p>

      <h3>The tools I use</h3>

      <ul>
        <li>For most projects: TypeScript and CSS</li>
        <li>For static, content-focused websites: Astro or Eleventy</li>
        <li>
          For dynamic and snappy Single Page Apps: React & Next.js, or Svelte &
          SvelteKit
        </li>
        <li>Currently learning GSAP</li>
      </ul>

      <h3>Things I can do for you</h3>

      <ul role="list">
        <li>
          build an optimized custom landing page, for marketing or personal
          branding
        </li>
        <li>
          create or maintain your design system (includes design tokens,
          component libraries, setting up a testing environment like Storybook)
        </li>
        <li>build dynamic SPAs (like onboarding funnels, dashboards, etc.)</li>
      </ul>

      <h3>Connect</h3>

      <p>My location varies from Porto 🇵🇹, Bordeaux and Paris 🇫🇷.</p>

      <p>If you happen to be in one of these places let's grab a cup of tea!</p>

      <p>
        If not, you can reach me on Twitter at <a
          href="https://twitter.com/williamhzo"
          target="_blank"
          rel="noreferrer"
        >
          @williamhzo
        </a> or via email at <a href="mailto:hi@williamhzo.me"
          >hi@williamhzo.me</a
        >.
      </p>

      <Socials />

      <h3 id="contact">Got a project in mind?</h3>

      <p>Get in touch below and I'll get back to you as quickly as possible.</p>

      <form>
        <fieldset class="contact-form">
          <label for="email">Your email</label>
          <input required type="email" id="email" name="email" />

          <label for="message">Your message</label>
          <textarea required id="message" name="message"></textarea>

          <button type="submit">Send</button>
        </fieldset>
      </form>
    </article>
  </main>
</BaseLayout>
