---
import Socials from '@components/Socials.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Emoji from '@components/Emoji.astro';
import PageMeta from '@components/seo/PageMeta.astro';
import PageSection from '@components/PageSection.astro';
---

<BaseLayout>
  <PageMeta slot="meta" />

  <Fragment slot="main">
    <PageSection class="hero">
      <h1>
        Hi, I'm William and <em>I&nbsp;build</em> intuitive, performant & accessible
        <em>websites</em>.
      </h1>

      <Socials />

      <h2>Passionate Frontend Engineer & never-ending learner.</h2>

      <p>
        Welcome to my space on the web, check out my latest <a href="/notes"
          >notes</a
        >, or some stuff that <a href="/inspiration">inspire</a> me.
      </p>

      <p>
        If you have project inquiries or just want to say hi, feel free to
        <a href="#contact">get in touch</a>.
      </p>
    </PageSection>

    <PageSection>
      <h3>Crafting user-focused interfaces</h3>

      <p>
        I design & build with accessibility and progressive enhancement as a
        baseline to guarantee end-user gets the best possible experience —
        regardless of device, network quality, disability or preference.
      </p>

      <p>
        Mindful of shipping as little client-side JavaScript as possible, I
        strongly believe in under-engineering and using the right tool for the
        job, being for styles or fetching & displaying dynamic data.
      </p>
    </PageSection>

    <PageSection>
      <h3>Things I can do for you</h3>

      <ul role="list" class="grid">
        <li class="flow card">
          <h4>Custom websites</h4>

          <p>
            Build an optimized and SEO-friendly landing page, for marketing or
            personal branding.
          </p>
        </li>

        <li class="flow card">
          <h4>Design Systems</h4>

          <p>
            Contribute to your Design System: design tokens, components,
            playground environments.
          </p>
        </li>

        <li class="flow card">
          <h4>SaaS/Products</h4>

          <p>
            Build dynamic SPA experiences like onboarding funnels or dashboards.
          </p>
        </li>

        <li class="flow card">
          <h4>CMS</h4>

          <p>Set up a Content Management System (CMS) for your team.</p>
        </li>
      </ul>
    </PageSection>

    <PageSection id="contact">
      <h3>Connect</h3>

      <p>
        Got a project in mind? <a href="mailto:hi@williamhzo.me"
          >Drop me an email</a
        > at <em>hi@williamhzo.me</em> and I'll get back to you as quickly as possible.
      </p>

      <p>
        My location varies from Porto <Emoji
          label="Portuguese flag"
          emoji="🇵🇹"
        />
        and Paris <Emoji label="French flag" emoji="🇫🇷" /> — if you happen to be
        in one of these places let's grab a cup of tea!
      </p>

      <p>
        If you want to connect, you can reach me on <a href="/contact"
          >various places in the internet</a
        >, come say hi!
      </p>

      <Socials />
    </PageSection>

    <PageSection>
      <h3>Currently I'm...</h3>

      <ul role="list" class="flow">
        <li class="flow card">
          <h4>Experimenting</h4>

          <p>
            With <a href="https://kit.svelte.dev/">SvelteKit</a>. Enjoying
            Svelte's powerful reactivity model with SvelteKit's awesome DX and
            built-in features.
          </p>
        </li>

        <li class="flow card">
          <h4>Reading</h4>

          <ul role="list" class="flow">
            <li>
              <p>
                <a href="https://makevscodeawesome.com/">Make VSCode awesome</a
                >: opinionated set-up for a distraction-free and keyboard-first
                IDE.
              </p>
            </li>

            <li>
              <p>
                <a href="https://inclusive-components.design"
                  >Inclusive Components</a
                >: a deep-dive into the foundations for building accessible and
                robust components, for everyone.
              </p>
            </li>
          </ul>
        </li>

        <li class="flow card">
          <h4>Making</h4>

          <ul role="list" class="flow">
            <li>
              <p>An open-source starter template out of this blog.</p>
            </li>

            <li>
              <p>
                An opinionated component library in Svelte, with <a
                  href="https://histoire.dev/">Histoire</a
                > as component playground.
              </p>
            </li>
          </ul>
        </li>

        <p>
          <small>
            Last updated: <time datetime="2023-01">January 2023</time>
          </small>
        </p>
      </ul>
    </PageSection>
  </Fragment>
</BaseLayout>

<style>
  .hero h1 {
    font-weight: var(--font-weight-semi-bold);
  }

  .hero em {
    font-style: normal;
  }

  .hero h2 {
    font-weight: var(--font-weight-semi-bold);
  }

  .card {
    /* TODO: Use Cluster utility instead? */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
</style>
