---
import CardLink from '@components/CardLink.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { DESIGNS } from '@data/inspiration';
import PageMeta from '@components/seo/PageMeta.astro';
import Article from '@components/Article.astro';
---

<BaseLayout>
  <PageMeta title="Inspiration" slot="meta" />

  <Article slot="main">
    <h1>Inspiration</h1>

    <p>Pieces of the internet that inspire, provide some learning, or both.</p>

    <ul role="list">
      {DESIGNS.map((link) => <CardLink link={link} />)}
    </ul>
  </Article>
</BaseLayout>
