---
import CardLink from '@components/CardLink.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { DESIGNS } from '@data/inspiration';
import PageMeta from '@layouts/seo/PageMeta.astro';
---

<BaseLayout>
  <PageMeta title="Inspiration" />

  <article class="[ wrapper ] [ region ] [ prose ]" slot="main">
    <h1>Inspiration</h1>

    <h2>
      Pieces of the internet that inspire, provide some learning, or both.
    </h2>

    <ul role="list">
      {DESIGNS.map((link) => <CardLink link={link} />)}
    </ul>
  </article>
</BaseLayout>
