---
import Emoji from '../components/Emoji.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await Astro.glob('../pages/notes/*.md');

const publishedPosts = posts.filter((post) => post.frontmatter.published);
---

<BaseLayout title="Notes">
  <main>
    <article class="[ wrapper ] [ region ] [ prose ]">
      <h1>Notes</h1>
      <p>Writing in progress <Emoji emoji="🙃" label="face upside down" /></p>
      <p>ETA end of December!</p>

      <ul role="list">
        {
          publishedPosts.map((post) => (
            <li>
              <a href={post.url}>
                <h2>{post.frontmatter.title}</h2>

                <p>{post.frontmatter.publishedDate}</p>
                <p>{post.frontmatter.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</BaseLayout>
