---
import Emoji from '../components/Emoji.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await Astro.glob('../pages/notes/*.md');

const publishedPosts = posts.filter((post) => post.frontmatter.published);
---

<BaseLayout title="Notes">
  <main>
    <article class="[ wrapper ] [ region ] [ prose ]">
      <h1>Latest notes</h1>

      <ul role="list" class="posts-list">
        {
          publishedPosts.map((post) => (
            <li class="[ flow ]">
              <a href={post.url}>{post.frontmatter.title}</a>

              <div>
                <p>{post.frontmatter.publishedDate}</p>
                <p class="post-description">{post.frontmatter.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</BaseLayout>
