---
type Props = {
  link: {
    href: string;
    title: string;
    tags: string[];
  };
};

const {
  link: { href, title, tags },
} = Astro.props;
---

<li>
  <a href={href} class="repel card-link">
    <span>{title}</span>

    <hr class="separator" />

    <small>
      {tags.join(', ')}
    </small>
  </a>
</li>

<style>
  .card-link {
    --gutter: var(--space-xs-s);

    text-decoration: none;
    padding: var(--gutter);
    margin-inline: calc(var(--space-xs) * -1);
    border-radius: var(--border-radius);
    transition-property: border, color;
    transition-duration: var(--duration-md);
    transition-timing-function: ease-in-out;
    border: 1px solid transparent;
    color: var(--fg-color);
  }

  .card-link:hover {
    border: 1px solid var(--bg-color-subtle);
    color: var(--fg-color);
  }

  .card-link > span {
    transition-property: letter-spacing;
    transition-duration: var(--duration-sm);
    transition-timing-function: ease-in-out;
  }

  .card-link:hover > span {
    letter-spacing: var(--tracking-l);
  }

  .card-link small {
    color: var(--fg-color-subtle);
  }

  .card-link:hover > small {
    color: var(--fg-color);
  }

  hr.separator {
    flex: 1 1 0%;
    margin: 0 !important;
  }
</style>
