<footer class="[ wrapper ] [ cluster ] site-footer">
  <p>© William Hermozo 1994 - 2022</p>

  <p>
    Hand-crafted with <a href="https://astro.build/">Astro</a> and vanilla CSS <br
    /> (<a href="https://github.com/williamhzo/williamhzo.me">source code</a>)
  </p>
</footer>
