---
---

<footer class="wrapper">
  <small>© 1994 - 2023</small>
  <small>archive: <a href="https://v1.williamhzo.me/">v1</a></small>
</footer>

<style>
  footer {
    display: grid;
    place-items: center;
    padding-block: var(--space-l-2xl);
    text-align: center;
    font-size: var(--size-step--1);
  }
</style>
