---
import ThemeIcon from '@components/ThemeIcon.astro';
import { sanitizePathname } from '@utils/sanitizePathname.utils';

const NAVIGATION_ITEMS = [
  { label: 'home', to: '/' },
  { label: 'about', to: '/about' },
  { label: 'notes', to: '/notes' },
  { label: 'inspiration', to: '/inspiration' },
  { label: 'contact', to: '/contact' },
];

const pathname = sanitizePathname(Astro.url.pathname);
---

<header role="banner">
  <a href="#main" class="skip-link">Skip to main content</a>

  <div class="[ wrapper ] [ repel ] main-header">
    <ThemeIcon />

    <nav role="navigation">
      <ul role="list" class="[ cluster ]">
        {
          NAVIGATION_ITEMS.map(({ label, to }) => (
            <li>
              <a
                class:list={[{ active: pathname === to }]}
                rel="prefetch"
                href={to}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
