---
import ThemeIcon from '../components/ThemeIcon.astro';
import IconLink from './IconLink.astro';
---

<header>
  <nav role="navigation">
    <ul role="list">
      <li>
        <a href="/">home</a>
      </li>

      <li>
        <a href="/blog">blog</a>
      </li>

      <li>
        <a href="/inspiration">inspiration</a>
      </li>
    </ul>
  </nav>

  <ThemeIcon />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    gap: var(--space-m-l);
  }
</style>
