---
import ThemeIcon from '@components/ThemeIcon.astro';

const NAVIGATION_ITEMS = [
  { label: 'home', to: '/' },
  { label: 'about', to: '/about' },
  { label: 'notes', to: '/notes' },
  { label: 'inspiration', to: '/inspiration' },
  { label: 'contact', to: '/contact' },
];
---

<header role="banner" class="main-header">
  <a href="#main" class="skip-link">Skip to main content</a>

  <div class="[ wrapper ] [ repel ]">
    <ThemeIcon />

    <nav role="navigation">
      <ul role="list" class="[ cluster ]">
        {
          NAVIGATION_ITEMS.map(({ label, to }) => (
            <li>
              <a rel="prefetch" href={to}>
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
