---
import ThemeIcon from '../components/ThemeIcon.astro';
---

<header role="banner" class="site-header">
  <div class="[ wrapper ] [ repel ]">
    <ThemeIcon />

    <nav role="navigation">
      <ul role="list" class="cluster">
        <li>
          <a href="/">home</a>
        </li>

        <!-- WHEN BLOG POST IS READY -->
        <!-- <li>
          <a href="/blog">blog</a>
        </li> -->

        <li>
          <a href="/inspiration">inspiration</a>
        </li>

        <li>
          <a href="/contact">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    gap: var(--space-m-l);
  }
</style>
