---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  label: string;
};

const { label, ...props } = Astro.props;
---

<a href={props.href} class="icon-link" rel={props.rel || 'me'}>
  <slot />
  <span class="sr-only">{label} link</span>
</a>
