---
import ThemeIcon from '../components/ThemeIcon.astro';
import '../styles/reset.css';
import '../styles/global.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <header>
      <ThemeIcon />

      <nav>
        <ul>
          <li>
            <a href="/blog">blog</a>
          </li>

          <li>
            <a href="/inspiration">inspiration</a>
          </li>

          <li>
            <a
              href="https://github.com/williamhzo"
              target="_blank"
              rel="noreferrer"
            >
              github
              <span class="sr-only">Github external link</span>
            </a>
          </li>

          <li>
            <a
              href="https://twitter.com/williamhzo"
              target="_blank"
              rel="noreferrer"
            >
              twitter
              <span class="sr-only">Twitter external link</span>
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/williamhermozo/"
              target="_blank"
              rel="noreferrer"
            >
              linkedin
              <span class="sr-only">Linkedin external link</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <slot />

    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }

      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
    </style>
  </body>
</html>
