---
import '@styles/styles.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ThemeScript from '@components/theme/ThemeScript.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ThemeScript />
    <slot name="meta" />
    <!-- link prefecth optimization, see https://instant.page/ -->
    <!-- <script
      src="//instant.page/5.1.1"
      type="module"
      integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"
    ></script> -->
  </head>

  <body>
    <Header />

    <main id="main" role="main">
      <slot name="main" />
    </main>

    <Footer />
  </body>
</html>
