---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  frontmatter: {
    title: string;
    publishedDate: string;
    description: string;
  };
}

const {
  frontmatter: { title, publishedDate, description },
} = Astro.props;
---

<BaseLayout title={title}>
  <article class="[ wrapper ] [ region ] [ prose ] [ post ]">
    <h1>{title}</h1>

    <small>{description}</small>

    <small>{publishedDate}</small>

    <slot />
  </article>
</BaseLayout>
